<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/clients">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/agencies">Agencies</a>
      </li>
    </ul>
  </div>
</nav>
<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <div >
          <img [src]="getImage()" alt="Profile picture" width="100" height="100" class="img-thumbnail">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table class="table table-responsive-sm mt-4">
            <tbody>
              <tr>
                <th scope="row">Username:</th>
                <td>
                  {{client.username}}
                </td>
              </tr>
              <tr>
                <th scope="row">Password:</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="password" >
                </td>
              </tr>
              <tr>
                <th scope="row">Name:</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="name" >
                </td>
              </tr>
              <tr>
                <th scope="row">Last name:</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="lastName" >

                </td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="email" >
                </td>
              </tr>
              <tr>
                <th scope="row">Status:</th>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="status" >
                </td>
              </tr>
              <tr>
                <th scope="row">Remove profile picture:</th>
                <td>
                  <input type="checkbox" [(ngModel)]="removeImage" >
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" (click)="save()">Save</button>
          <button class="btn btn-primary" (click)="remove()">Delete Client</button>
        </div>
      </div>
    </div>
  </div>
</body>