<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>
  </div>
</nav>


<body>
  <title>Register Form</title>
  <div class="container">
    <h1>Forgotten password</h1>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter your email" name="email" [(ngModel)]="email" enctype="multipart/form-data">
      </div>
      <div class="form-group">
        <label class="form-label">User Type:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="agency" name="userType" [(ngModel)]="type" value="agency" enctype="multipart/form-data">
          <label class="form-check-label" for="agency">Decorating Agency</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="client" name="userType" [(ngModel)]="type" value="client" enctype="multipart/form-data">
          <label class="form-check-label" for="client">Client</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
    <span style="color:brown">{{message}}</span>
  </div>
</body>